@using AuctionTracker.Web.Class
@using AuctionTracker.Web.Interfaces

@model Product;

@{
    ViewData["Title"] = "Games - Auction Sale Info:";

    IGeneralHelper generalHelper = new GeneralHelper();
}

<br />

<h2>Games - Auction Sale Info:</h2>

<br />

<div>
    <a asp-controller="Game" asp-action="Create" class="btn btn-primary siteButton">
        Create New Game &nbsp; <i class="bi bi-plus-circle"></i>
    </a>
</div>

<br />

<form method="post" asp-action="Index">

    <label>Keyword:</label>
    <input asp-for="SearchCriteria" class="form-control" style="width:400px" />

    <br />

    <label>Order By:</label>

    <br />

    <select class="form-select" asp-for="SelectedSortOrder" asp-items="@Model.SortOrderListGame" style="width:200px">
        <option>Please select one</option>
    </select>

    <br />

    <button type="submit" class="btn btn-primary">Filter Results &nbsp; <i class="bi bi-filter"></i></button>

</form>

<br />

@Model.Game.Count().ToString() Results found

<table class="siteTheme" style="width:100%">
    <thead>
        <tr>
            <th class="siteTheme">
                Name:
            </th>
            <th class="siteTheme">
                Condition:
            </th>
            <th class="siteTheme">
                Sealed:
            </th>
            <th class="siteTheme">
                Platform:
            </th>
            <th class="siteTheme">
                Media Type:
            </th>
            <th class="siteTheme">
                Complete:
            </th>
            <th class="siteTheme">
                Price:
            </th>
            <th class="siteTheme">
                Postage:
            </th>
            <th class="siteTheme">
                Sale Date:
            </th>
            <th class="siteTheme">
                Description:
            </th>
            <th class="siteTheme">
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.Game)
        {
            <tr>
                <td class="siteTheme" style="text-align: center">
                    @* @Html.ActionLink(@obj.Name, "GameInfo", "Game", new { valGameName = obj.Name }) *@
                    @Html.ActionLink(@obj.Name, "GameInfo", "Game", new Product() { SelectedProduct = obj.Name, SelectedGamePlatform = obj.Platform })
                </td>
                <td class="siteTheme" style="text-align: center">
                    @obj.Condition
                </td>
                <td class="siteTheme" style="text-align: center">
                    @obj.Sealed
                </td>
                <td class="siteTheme" style="text-align: center">
                    @obj.Platform
                </td>
                <td class="siteTheme" style="text-align: center">
                    @obj.MediaType
                </td>
                <td class="siteTheme" style="text-align: center">
                    @obj.Complete
                </td>
                <td class="siteTheme bgHighlight" style="text-align: center">
                    £@obj.Price
                </td>
                <td class="siteTheme" style="text-align: center">
                    £@obj.Postage
                </td>
                <td class="siteTheme" style="text-align: center">
                    @generalHelper.ConvertDateTime(obj.SaleDate)
                </td>
                <td class="siteTheme">
                    @obj.Description
                </td>
                <td class="siteTheme" style="text-align: center">
                    <a asp-controller="Game" asp-action="Edit" asp-route-id="@obj.Id">Edit</a> /
                    <a asp-controller="Game" asp-action="Delete" asp-route-id="@obj.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

</div>