@model Toy

@* https://www.w3schools.com/js/default.asp
https://stackoverflow.com/questions/31990700/run-function-when-clicking-on-a-select-option *@

<script>

    function updateControls() {

        /*
        Some of the below is required to get around the '<select>' tags limitation of not being able to type type in and add new values
        to the drop down list and because two user controls cannot be bound to the same model item.
        */

        var toyLineTxt = document.getElementById('toyLineTxt');
        var toyLineCmbo = document.getElementById('toyLineCmbo');

        var standsLbl = document.getElementById('standsLbl');
        var standsCmbo = document.getElementById('standsCmbo');

        var colourLbl = document.getElementById('colourLbl');
        var colourCmbo = document.getElementById('colourCmbo');

        var damagedAccessoryLbl = document.getElementById('damagedAccessoryLbl');
        var damagedAccessoryCmbo = document.getElementById('damagedAccessoryCmbo');

        if (toyLineCmbo.value == 'Add a new option') {
            toyLineTxt.hidden = false;
            toyLineCmbo.hidden = true;
            toyLineTxt.setAttribute("name", "ToyLine");
            toyLineCmbo.setAttribute("name", "DontUse");
        }
        else {
            toyLineTxt.hidden = true;
            toyLineTxt.setAttribute("name", "DontUse");
        }

        switch (toyLineCmbo.value) {
            case 'Mimp':
                colourLbl.hidden = false;
                colourCmbo.hidden = false;

                damagedAccessoryLbl.hidden = true;
                damagedAccessoryCmbo.hidden = true
                standsLbl.hidden = true;
                standsCmbo.hidden = true;
                break;
            case 'Motu':
                standsLbl.hidden = false;
                standsCmbo.hidden = false;
                damagedAccessoryLbl.hidden = false;
                damagedAccessoryCmbo.hidden = false

                colourLbl.hidden = true;
                colourCmbo.hidden = true;
                break;
            default:
                damagedAccessoryLbl.hidden = false;
                damagedAccessoryCmbo.hidden = false

                colourLbl.hidden = true;
                colourCmbo.hidden = true;
                standsLbl.hidden = true;
                standsCmbo.hidden = true;
        }

        damagedAccessoryCmbo.value = 'Please select one';
        standsCmbo.value = 'Please select one';
        colourCmbo.value = 'Please select one';
    }

</script>

<h2>Create Toy:</h2>

<form method="post">

    <div class="section">

        <div asp-validation-summary="All" class="text-danger"></div>

        <label asp-for="ToyLine"></label>
        <select name="ToyLine" asp-items="@Model.ToyLineLst" class="form-control" style="width:200px" id="toyLineCmbo" onchange="updateControls()">
            <option>Please select one</option>
        </select>

        <input name="ToyLine" class="form-control" style="width:600px" id="toyLineTxt" hidden="true" />

        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" style="width:600px" />

        <label asp-for="Condition"></label>
        <select asp-for="Condition" asp-items="@Model.ConditionList" class="form-control" style="width:200px">
            <option>Please select one</option>
        </select>

        <label asp-for="Complete"></label>
        <select asp-for="Complete" asp-items="@Model.CompleteLst" class="form-control" style="width:200px">
            <option>Please select one</option>
        </select>

        <label asp-for="Carded"></label>
        <input asp-for="Carded" type="checkbox" />

        <br />

        <label asp-for="Boxed"></label>
        <input asp-for="Boxed" type="checkbox" />

        <br />

        <label asp-for="Discoloured"></label>
        <input asp-for="Discoloured" type="checkbox" />

        <br />

        <label asp-for="Stands" id="standsLbl" hidden="true"></label>
        <select asp-for="Stands" asp-items="@Model.CompleteLst" class="form-control" style="width:200px" id="standsCmbo" hidden="true">
            <option>Please select one</option>
        </select>

        <label asp-for="Damaged"></label>
        <select asp-for="Damaged" asp-items="@Model.CompleteLst" class="form-control" style="width:200px">
            <option>Please select one</option>
            @* <option selected>No</option> *@
        </select>

        <label asp-for="DamagedAccessory" id="damagedAccessoryLbl"></label>
        <select asp-for="DamagedAccessory" asp-items="@Model.CompleteLst" class="form-control" style="width:200px" id="damagedAccessoryCmbo">
            <option>Please select one</option>
        </select>

        <label asp-for="Colour" id="colourLbl" hidden="true"></label>
        <select asp-for="Colour" asp-items="@Model.ColourLst" class="form-control" style="width:200px" id="colourCmbo" hidden="true">
            <option>Please select one</option>
        </select>

        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" style="width:80px" />

        <label asp-for="Postage"></label>
        <input asp-for="Postage" class="form-control" style="width:80px" />

        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />

    </div>

    <br />

    <button type="submit" class="btn btn-primary">Create</button>

    <br /><br />

    <a asp-controller="Toy" asp-action="Index" class="btn btn-primary siteButton">
        <i class="bi bi-chevron-left"></i> Back to list
    </a>

</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}