@using AuctionTracker.Web.Class

@model Product;

@{
    ViewData["Title"] = string.Format("{0} - Auction Sale Info:", Model.SelectedProductLine);

    GeneralHelper generalHelper = new GeneralHelper();
}

<br />

<h2>@Model.SelectedProductLine - Auction Sale Info:</h2>

<br />

<div>
    <a asp-controller="Toy" asp-action="Create" class="btn btn-primary siteButton">
        Create New Toy &nbsp; <i class="bi bi-plus-circle"></i>
    </a>
</div>

<br />

<form method="post" asp-action="Index">

    <label>Keyword:</label>
    <input asp-for="SearchCriteria" class="form-control" style="width:400px" />

    <br />

    <label>Order By:</label>

    <br />

    <select class="form-select" asp-for="SelectedSortOrder" asp-items="@Model.SortOrderListToy" style="width:200px">
        <option>Please select one</option>
    </select>

    <br />

    <button type="submit" class="btn btn-primary">Filter Results &nbsp; <i class="bi bi-filter"></i></button>

    <input type="hidden" asp-for="@Model.SelectedProduct" />
    <input type="hidden" asp-for="@Model.SelectedProductLine" />

</form>

<br />

@{
    bool completeHidden = true;
    bool damagedAccessoryHidden = true;
    bool colourHidden = true;
    bool discolourHidden = true;
    bool cardedHidden = true;
    bool boxedHidden = true;
    bool standsHidden = true;

    switch (Model.SelectedProductLine.ToLower())
    {
        case "mimp":
            colourHidden = false;
            discolourHidden = false;
            break;
        case "motu":
            completeHidden = false;
            damagedAccessoryHidden = false;
            cardedHidden = false;
            boxedHidden = false;
            standsHidden = false;
            break;
        default:
            completeHidden = false;
            damagedAccessoryHidden = false;
            cardedHidden = false;
            boxedHidden = false;
            break;
    }
}

@Model.Toy.Count().ToString() Results found

<table style="width:100%">
    <thead>
        <tr>
            <th>
                Name:
            </th>
            <th>
                Condition:
            </th>
            <th hidden="@completeHidden">
                Complete:
            </th>
            <th hidden="@colourHidden">
                Colour:
            </th>
            <th hidden="@discolourHidden">
                Discoloured:
            </th>
            <th hidden="@standsHidden">
                Stands:
            </th>
            <th>
                Damaged:
            </th>
            <th hidden="@damagedAccessoryHidden">
                Damaged Accessory:
            </th>
            <th hidden="@cardedHidden">
                Carded:
            </th>
            <th hidden="@boxedHidden">
                Boxed:
            </th>
            <th>
                Price:
            </th>
            <th>
                Postage:
            </th>
            <th>
                Sale Date:
            </th>
            <th>
                Description:
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.Toy)
        {
            <tr>
                <td style="text-align: center">
                    @*  @Html.ActionLink(@obj.Name, "ToyInfo", "Toy", new { valToyName = obj.Name, valToyLine = obj.ToyLine }) *@
                    @Html.ActionLink(@obj.Name, "ToyInfo", "Toy", new Product() { SelectedProduct = obj.Name, SelectedProductLine = obj.ToyLine })
                </td>
                <td style="text-align: center">
                    @obj.Condition
                </td>
                <td style="text-align: center" hidden="@completeHidden">
                    @obj.Complete
                </td>
                <td style="text-align: center" hidden="@colourHidden">
                    @obj.Colour
                </td>
                <td style="text-align: center" hidden="@discolourHidden">
                    @obj.Discoloured
                </td>
                <td style="text-align: center" hidden="@standsHidden">
                    @obj.Stands
                </td>
                <td style="text-align: center">
                    @obj.Damaged
                </td>
                <td style="text-align: center" hidden="@damagedAccessoryHidden">
                    @obj.DamagedAccessory
                </td>
                <td style="text-align: center" hidden="@cardedHidden">
                    @obj.Carded
                </td>
                <td style="text-align: center" hidden="@boxedHidden">
                    @obj.Boxed
                </td>
                <td class="bgHighlight" style="text-align: center">
                    £@obj.Price
                </td>
                <td style="text-align: center">
                    £@obj.Postage
                </td>
                <td style="text-align: center">
                    @generalHelper.ConvertDateTime(obj.SaleDate)
                </td>
                <td>
                    @obj.Description
                </td>
                <td style="text-align: center">
                    <a asp-controller="Toy" asp-action="Edit" asp-route-id="@obj.Id">Edit</a> /
                    <a asp-controller="Toy" asp-action="Delete" asp-route-id="@obj.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<br />

<a asp-controller="Toy" asp-action="Index" class="btn btn-primary siteButton">
    <i class="bi bi-chevron-left"></i> Back to list
</a>