@using AuctionTracker.Web.Class

@model Product;

@{
    ViewData["Title"] = string.Format("{0} - Auction Sale Info:", Model.SelectedProduct);

    GeneralHelper generalHelper = new GeneralHelper();
}

<br />

<h2>@Model.SelectedProductLine > @Model.SelectedProduct - Auction Sale Info:</h2>

<br />

<table style="width:40%">
    <tbody>
        <tr>
            <th>
                Result Count:
            </th>
            <td>
                @Model.Toy.Count().ToString()
            </td>
        </tr>
        <tr>
            <th>
                Mean Price:
            </th>
            <td>
                <b>£@Math.Round(Model.MeanPrice, 2) (£@Math.Round(Model.MeanPriceAndPostage, 2))</b>
            </td>
        </tr>
        <tr>
            <th>
                Median Price:
            </th>
            <td>
                £@Math.Round(Model.MedianPrice, 2) (£@Math.Round(Model.MedianPriceAndPostage, 2))
            </td>
        </tr>
        <tr>
            <th>
                Range Price:
            </th>
            <td>
                Min: £@Math.Round(Model.MinPrice, 2) (£@Math.Round(Model.MinPriceAndPostage, 2)) > Max: £@Math.Round(Model.MaxPrice, 2) (£@Math.Round(Model.MaxPriceAndPostage, 2))
            </td>
        </tr>
        @{
            if (Model.MaxPriceCurrentYear != 0.00M)
            {
                <tr>
                    <th>
                        @DateTime.Now.Year Range Price:
                    </th>
                    <td>
                        Min: £@Math.Round(Model.MinPriceCurrentYear, 2) (£@Math.Round(Model.MinPriceAndPostageCurrentYear, 2)) > Max: £@Math.Round(Model.MaxPriceCurrentYear, 2) (£@Math.Round(Model.MaxPriceAndPostageCurrentYear, 2))
                    </td>
                </tr>
            }
        }
        <tr>
            <th>
                Mean Postage:
            </th>
            <td>
                <b>£@Math.Round(Model.MeanPostage, 2)</b>
            </td>
        </tr>
        <tr>
            <th>
                Median Postage:
            </th>
            <td>
                £@Model.MedianPostage
            </td>
        </tr>
        <tr>
            <th>
                Range Postage:
            </th>
            <td>
                Min: £@Model.MinPostage > Max: £@Model.MaxPostage
            </td>
        </tr>
        <tr>
            <th>
                Price Trend:
            </th>
            <td>
                @Model.Trend &nbsp; <i class="bi bi-info-square" data-toggle="tooltip" data-placement="right" title="Looks at the price of items that are in mint, high or medium condition and complete, it then identifies if the price is going up, down or staying the same. Compares the top three most recent sale results OR compares the top two OR will report not enough data."></i>
            </td>
        </tr>
    </tbody>
</table>

<br />

<form method="post" asp-action="ToyInfoSortOrder">

    <label>Order By:</label>

    <select class="form-select" asp-for="SelectedSortOrder" asp-items="@Model.SortOrderListToy" style="width:200px">
        <option>Please select one</option>
    </select>

    <p></p>

    <div class="card border-primary mb-3" style="width: 100%">
        <div class="card-header">Show Only:</div>
        <div class="card-body">

            <div class="form-check">
                <input asp-for="SearchCondition" class="form-check-input" type="checkbox">
                <label class="form-check-label">
                    Mint/High Condition
                </label>
            </div>

            <div class="form-check">
                <input asp-for="SearchComplete" class="form-check-input" type="checkbox">
                <label class="form-check-label">
                    Complete
                </label>
            </div>

            <div class="form-check">
                <input asp-for="SearchCurrentYear" class="form-check-input" type="checkbox">
                <label class="form-check-label">
                    Current Year
                </label>
            </div>

            <div class="form-check">
                <input asp-for="SearchLoose" class="form-check-input" type="checkbox">
                <label class="form-check-label">
                    Loose Toys
                </label>
            </div>

        </div>
    </div>

    <button type="submit" class="btn btn-primary">Filter Results &nbsp; <i class="bi bi-filter"></i></button>

    <p></p>

    <input type="hidden" asp-for="@Model.SelectedProduct" />
    <input type="hidden" asp-for="@Model.SelectedProductLine" />

</form>

@{
    bool completeHidden = true;
    bool damagedAccessoryHidden = true;
    bool colourHidden = true;
    bool discolourHidden = true;
    bool cardedHidden = true;
    bool boxedHidden = true;
    bool standsHidden = true;

    switch (Model.SelectedProductLine.ToLower())
    {
        case "mimp":
            colourHidden = false;
            discolourHidden = false;
            break;
        case "motu":
            completeHidden = false;
            damagedAccessoryHidden = false;
            cardedHidden = false;
            boxedHidden = false;
            standsHidden = false;
            break;
        default:
            completeHidden = false;
            damagedAccessoryHidden = false;
            cardedHidden = false;
            boxedHidden = false;
            break;
    }
}

<table style="width:100%">
    <thead>
        <tr>
            <th>
                Name:
            </th>
            <th>
                Condition:
            </th>
            <th hidden="@completeHidden">
                Complete:
            </th>
            <th hidden="@colourHidden">
                Colour:
            </th>
            <th hidden="@discolourHidden">
                Discoloured:
            </th>
            <th hidden="@standsHidden">
                Stands:
            </th>
            <th>
                Damaged:
            </th>
            <th hidden="@damagedAccessoryHidden">
                Damaged Accessory:
            </th>
            <th hidden="@cardedHidden">
                Carded:
            </th>
            <th hidden="@boxedHidden">
                Boxed:
            </th>
            <th>
                Price:
            </th>
            <th>
                Postage:
            </th>
            <th>
                Sale Date:
            </th>
            <th>
                Description:
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.Toy)
        {
            <tr>
                <td style="text-align: center">
                    @obj.Name
                </td>
                <td style="text-align: center">
                    @obj.Condition
                </td>
                <td style="text-align: center" hidden="@completeHidden">
                    @obj.Complete
                </td>
                <td style="text-align: center" hidden="@colourHidden">
                    @obj.Colour
                </td>
                <td style="text-align: center" hidden="@discolourHidden">
                    @obj.Discoloured
                </td>
                <td style="text-align: center" hidden="@standsHidden">
                    @obj.Stands
                </td>
                <td style="text-align: center">
                    @obj.Damaged
                </td>
                <td style="text-align: center" hidden="@damagedAccessoryHidden">
                    @obj.DamagedAccessory
                </td>
                <td style="text-align: center" hidden="@cardedHidden">
                    @obj.Carded
                </td>
                <td style="text-align: center" hidden="@boxedHidden">
                    @obj.Boxed
                </td>
                <td class="bgHighlight" style="text-align: center">
                    £@obj.Price
                </td>
                <td style="text-align: center">
                    £@obj.Postage
                </td>
                <td style="text-align: center">
                    @generalHelper.ConvertDateTime(obj.SaleDate)
                </td>
                <td>
                    @obj.Description
                </td>
            </tr>
        }
    </tbody>
</table>

<br />

<form method="post" asp-action="Index">

    <button type="submit" class="btn btn-primary"><i class="bi bi-chevron-left"></i> Back to list</button>

    <input type="hidden" asp-for="@Model.SelectedProductLine" />

</form>